<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Busqueda</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>
    {% if clientes %}
        <p>Clientes enontrados: {{clientes|length}} clientes</p>
        <ul>
            {% for cliente in clientes %}
                <li>
                    {{cliente.nombre}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Cliente no encontrado</p>
    {% endif %}
</body>
</html>